@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-size: large;
  font-weight: 700;
}

body {
  margin: 0;

  background-image: url("/static/img/BG_top.png");
  background-repeat: no-repeat;
  background-size: contain;
  background: contain;
  background-attachment: fixed;
}

.hello {
  width: 100%;
  height: 45%;
  margin: 0;
}

.outer {
  display: table;
  height: 10%;
  width: 70%;
  margin: 0 auto;
  margin-top: 20%;
}

.midasi div {
  height: 10%;
}

.fox_top {
  height: 5%;
}

img .ffox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 188px;
  height: 95px;
}

img .hoku {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 188px;
  height: 103px;

}

input {
  font-size: 20px;
  display: none;
}

#glass {
  position: absolute;
  width: 14%;
  margin: 93% 0% 0% 43%;
  z-index: 10;
}

.search {
  position: absolute;
  margin: 100% 6% 10% 6%;
  padding: 12% 10% 0% 8%;
  background-color: white;
  box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 6%);
  -webkit-box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 6%);
  -moz-box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 6%);
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  border-radius: 8%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 15%;
  grid-column-gap: 4%;
}

.cuisine img {
  width: 116%;
}

.cuisine:hover {
  opacity: 0.8;
}

.search-btn {
  position: relative;
  margin: 9% 0 8% 12%;
  padding: 4% 18%;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 6%);
  -webkit-box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 6%);
  -moz-box-shadow: 0px 0px 12px 4px rgb(0 0 0 / 6%);
}

footer {
  background-color: #E87146;
  height: 7.2%;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  padding-left: 16%;
}

footer p img {
  width: 50%;
}